<body class="text-center">
    <form class="form-signin">
      <!-- <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
      <h1 class="h3 mb-3 font-weight-normal">Register</h1>
      <label for="inputName" class="sr-only">Name</label>
      <input type="text" id="inputName" class="form-control" placeholder="Name" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" required autofocus>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" required>
      <label for="inputAddress" class="sr-only">Address</label>
      <input type="text" id="inputAddress" class="form-control" placeholder="Address" [(ngModel)]="address" [ngModelOptions]="{standalone: true}" required>
      <label for="inputNumber" class="sr-only">Number</label>
      <input type="number" id="inputNumber" class="form-control" placeholder="Number" [(ngModel)]="number" [ngModelOptions]="{standalone: true}" required>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="admin" [(ngModel)]="admin" [ngModelOptions]="{standalone: true}"> Admin
        </label>
        <label>
            <input type="checkbox" value="user"> User
          </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="register()">Create Account</button>
      <button class="btn btn-lg btn-primary btn-block" (click)='login()'>Already have an account</button>

      <!-- <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p> -->
    </form>
  </body>